.wrapper {
  display: flex;
}

.wrapper .sidebar {
  flex: 0 0 27rem;
  transition: all .7s ease;
}

.wrapper .hidden {
  flex: 0;
  min-width: 0;
  transform: translateX(-30rem);
  transition: all .7s ease;
}

.wrapper .content {
  flex: 1;
}

.wrapper .toggle button {
  padding: 1rem;
  height: 7rem;
  border: none;
  padding: 1rem;
  background-color: var(--textSecondaryVariant);
  color: var(--textPrimary);
  font-weight: var(--fontWeight);
  cursor: pointer;
  transition: all .7s ease;

}

.wrapper .toggle_hidden {
  display: none;
  transition: all .7s ease;
}

.container {
  padding: 2rem;
}

.error-message {
  color: rgb(216, 68, 68);
  font-size: 10px;
  font-weight: 600;
  padding: .3rem 0;
}